<div class="row">
  <div class="col-xs-12 col-md-8 offset-md-2">
    <p>
      <a href="/login">Sign in</a> or <a href="/register">sign up</a> to add
      comments on this article.
    </p>
    <div class="card">
      <div class="card-block">
        <p class="card-text">
          If someone else has started working on an implementation, consider
          jumping in and helping them! by contacting the author.
        </p>
      </div>
      <div class="card-footer">
        <a href="/profile/@Gerome" class="comment-author"
          ><img
            src="https://api.realworld.io/images/demo-avatar.png"
            class="comment-author-img"
            alt="Gerome"
        /></a>
        <a href="/profile/@Gerome" class="comment-author">Gerome</a>
        <span class="date-posted">Wed Nov 24 2021</span>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <p class="card-text">
          Before starting a new implementation, please check if there is any
          work in progress for the stack you want to work on.
        </p>
      </div>
      <div class="card-footer">
        <a href="/profile/@Gerome" class="comment-author"
          ><img
            src="https://api.realworld.io/images/demo-avatar.png"
            class="comment-author-img"
            alt="Gerome"
        /></a>
        <a href="/profile/@Gerome" class="comment-author">Gerome</a>
        <span class="date-posted">Wed Nov 24 2021</span>
      </div>
    </div>
  </div>
</div>
